<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chugnchunon.chungchunon_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_new_icon_pink"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_icon_pink_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chugnchunon_android">

        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_native_key" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_scheme_key" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DiaryActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RegionRegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CommentActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ApplicationRuleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PersonalInfoRuleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Partner.PartnerDiaryActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".EditProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditRegionRegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AgreementActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".BlockActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />
        <receiver
            android:name=".BroadcastReceiver.DateChangeBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="com.chungchunon.chunchunon_android.STEP_COUNTER_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceiver.DeviceShutdownBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceiver.StepCountBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.chungchunon.chunchunon_android.STEP_COUNTER_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>